{% extends "dashboard/base.html" %}

{% block description %}
    <div class="row mb-2">
        <div class="col-sm-6">
            <h1 class="m-0">Управление каталогом продукции</h1>
        </div>
        <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item active"><a href="{{ url_for('dashboard.index') }}">Панель управления</a></li>
                <li class="breadcrumb-item active">Каталог продукции</li>
            </ol>
         </div>
    </div>
{% endblock %}

{% block css %}
    {{ ckeditor.load() }}
{% endblock %}

{% block content %}
    <div class="row">

        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Список категорий</h3>
                    <div class="card-tools">
                        <a class="btn btn-outline-success btn-sm" href="#" data-toggle="modal" data-target="#create-item-category">Добавить новую категорию</a>
                        <div class="modal fade" tabindex="-1" role="dialog" id="create-item-category">
                            <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Добавление новой категории продукции</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <form class="" method="post">
                                        {{ form_create_category.hidden_tag() }}
                                        <input type="hidden" name="form-id" value="1">
                                        <div class="modal-body">
                                            <div class="form-group">
                                                <label>Название категории</label>
                                                <input type="text" id="title" name="title" class="form-control {% if form_create_category.title.errors %} is-invalid {% endif %}">
                                                {% if form_create_category.title.errors %}
                                                    <div class="invalid-feedback d-block">
                                                        {{ form_create_category.title.errors[0] }}
                                                    </div>
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Назад</button>
                                            <button type="submit" class="btn btn-outline-success float-right">Добавить</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <table class="table table-bordered table-sm">
                        <thead>
                            <tr>
                                <th>Название</th>
                                <th>Статус</th>
                                <th>Опции</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in category %}
                                <tr>
                                    <td>{{ i.title }}</td>
                                    <td class="text-center" style="vertical-align: middle;">
                                        {% if i.status == 0 %} <i class="fas fa-check-circle text-danger" title="Не отображается"></i>
                                        {% else %} <i class="fas fa-check-circle text-success" title="Отображается"></i>
                                        {% endif %}
                                    </td>
                                    <td class="text-center" style="vertical-align: middle;">
                                        <div class="btn-group btn-group-sm">
                                            <a href="#" class="btn btn-info" data-toggle="modal" data-target="#edit-category-{{ i.id }}" title="Изменить">
                                                <i class="fas fa-pen"></i>
                                            </a>
                                            <a class="btn btn-primary" href="
                                            {% if i.status == 0 %}
                                                {{ url_for('dashboard.item_category_activated', category_id=i.id, status=1) }}
                                            {% else %}
                                                {{ url_for('dashboard.item_category_activated', category_id=i.id, status=0) }}
                                            {% endif %}">
                                                <i class="far fa-eye"></i>
                                            </a>
                                            <a href="#" class="btn btn-danger" data-toggle="modal" data-target="#delete-category-{{ i.id }}" title="Удалить">
                                                <i class="fas fa-trash"></i>
                                            </a>
                                        </div>
                                    </td>
                                    <div class="modal fade" tabindex="-1" role="dialog" id="edit-category-{{ i.id }}">
                                        <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title">Изменение категории - {{ i.title }}</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <form class="" method="post">
                                                    {{ form_edit_category.hidden_tag() }}
                                                    <input type="hidden" name="form-id" value="2">
                                                    <input type="hidden" name="category-id" value="{{ i.id }}">
                                                    <div class="modal-body">
                                                        <div class="form-group">
                                                            <label>Название</label>
                                                            <input type="text" id="title" name="title" class="form-control {% if form_edit_category.title.errors %} is-invalid {% endif %}" value="{{ i.title }}">
                                                            {% if form_edit_category.title.errors %}
                                                                <div class="invalid-feedback" style="display: block;">
                                                                    {{ form_edit_category.title.errors[0] }}
                                                                </div>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Назад</button>
                                                        <button type="submit" class="btn btn-outline-success float-right">Изменить</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal fade" tabindex="-1" role="dialog" id="delete-category-{{ i.id }}">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title">Удаление категории</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <p>Удалить категорию - "{{ i.title }}"?</p>
                                                    <p>Данное действие невозможно отменить.</p>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Назад</button>
                                                    <a href="{{ url_for('dashboard.item_category_delete', category_id=i.id) }}" class="btn btn-danger">Удалить</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Список Продукции</h3>
                    <div class="card-tools">
                        <a class="btn btn-outline-success btn-sm" href="#" data-toggle="modal" data-target="#create-item">Добавить продукт</a>
{#                        <div class="modal fade" tabindex="-1" role="dialog" id="create-page">#}
{#                            <div class="modal-dialog modal-dialog-centered modal-xl" role="document">#}
{#                                <div class="modal-content">#}
{#                                    <div class="modal-header">#}
{#                                        <h5 class="modal-title">Добавление новой страницы</h5>#}
{#                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">#}
{#                                            <span aria-hidden="true">&times;</span>#}
{#                                        </button>#}
{#                                    </div>#}
{#                                    <form class="" method="post">#}
{#                                        {{ form.hidden_tag() }}#}
{#                                        <input type="hidden" name="form-id" value="1">#}
{#                                        <div class="modal-body">#}
{#                                            <div class="form-group">#}
{#                                                <label>Заголовок страницы</label>#}
{#                                                <input type="text" id="name" name="name" class="form-control {% if form.name.errors %} is-invalid {% endif %}">#}
{#                                                {% if form.name.errors %}#}
{#                                                    <div class="invalid-feedback" style="display: block;">#}
{#                                                        {{ form.name.errors[0] }}#}
{#                                                    </div>#}
{#                                                {% endif %}#}
{#                                            </div>#}
{#                                            <div class="form-group">#}
{#                                                <label>Алиас страницы</label>#}
{#                                                <input type="text" id="alias" name="alias" class="form-control {% if form.alias.errors %} is-invalid {% endif %}">#}
{#                                                {% if form.alias.errors %}#}
{#                                                    <div class="invalid-feedback" style="display: block;">#}
{#                                                        {{ form.alias.errors[0] }}#}
{#                                                    </div>#}
{#                                                {% endif %}#}
{#                                            </div>#}
{#                                            <div class="form-group">#}
{#                                                {{ form.text.label() }}#}
{#                                                {{ form.text() }}#}
{#                                            </div>#}
{#                                        </div>#}
{#                                        <div class="modal-footer">#}
{#                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Назад</button>#}
{#                                            <button type="submit" class="btn btn-outline-success float-right">Добавить</button>#}
{#                                        </div>#}
{#                                    </form>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
                    </div>
                </div>
                <div class="card-body">
{#                    <table class="table table-bordered">#}
{#                        <thead>#}
{#                            <tr>#}
{#                                <th>#</th>#}
{#                                <th>Заголовок</th>#}
{#                                <th>Алиас</th>#}
{#                                <th>Ссылка</th>#}
{#                                <th>Статус</th>#}
{#                                <th>Дата добавления</th>#}
{#                                <th>Опции</th>#}
{#                            </tr>#}
{#                        </thead>#}
{#                        <tbody>#}
{#                            {% for i in data %}#}
{#                                <tr>#}
{#                                    <td>{{ loop.index }}</td>#}
{#                                    <td>{{ i.name }}</td>#}
{#                                    <td>{{ i.alias }}</td>#}
{#                                    <td><a target="_blank" href="{{ i.alias }}">Страница</a></td>#}
{#                                    <td>#}
{#                                        {% if i.status == 0 %}#}
{#                                            <i class="fas fa-check-circle text-danger" title="Не отображается"></i>#}
{#                                        {% else %}#}
{#                                            <i class="fas fa-check-circle text-success" title="Отображается"></i>#}
{#                                        {% endif %}#}
{#                                    </td>#}
{#                                    <td>{{ i.create_date.strftime("%d.%m.%Y %H:%M") }}</td>#}
{#                                    <td>#}
{#                                        <div>#}
{#                                            <a href="#" class="pl-1" data-toggle="modal" data-target="#edit-page-{{ i.id }}" title="Изменить">#}
{#                                                <i class="fas fa-pen text-info"></i>#}
{#                                            </a>#}
{#                                            {% if i.status == 0 %}#}
{#                                                <a href="{{ url_for('dashboard.page_activated', page_id=i.id, status=1) }}" class="pl-1" title="Отобразить">#}
{#                                                    <i class="far fa-eye text-success"></i>#}
{#                                                </a>#}
{#                                            {% else %}#}
{#                                                <a href="{{ url_for('dashboard.page_activated', page_id=i.id, status=0) }}" class="pl-1" title="Скрыть">#}
{#                                                    <i class="far fa-eye text-danger"></i>#}
{#                                                </a>#}
{#                                            {% endif %}#}
{#                                            <a href="#" class="pl-1" data-toggle="modal" data-target="#delete-page-{{ i.id }}" title="Удалить">#}
{#                                                <i class="fas fa-trash-alt text-danger"></i>#}
{#                                            </a>#}
{#                                        </div>#}
{#                                        <div>#}
                                            {# Изменить #}
{#                                            <div class="modal fade" tabindex="-1" role="dialog" id="edit-page-{{ i.id }}">#}
{#                                                <div class="modal-dialog modal-dialog-centered modal-xl" role="document">#}
{#                                                    <div class="modal-content">#}
{#                                                        <div class="modal-header">#}
{#                                                            <h5 class="modal-title">Изменение страницы - {{ i.name }}</h5>#}
{#                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">#}
{#                                                                <span aria-hidden="true">&times;</span>#}
{#                                                            </button>#}
{#                                                        </div>#}
{#                                                        <form class="" method="post">#}
{#                                                            {{ form_edit.hidden_tag() }}#}
{#                                                            <input type="hidden" name="form-id" value="2">#}
{#                                                            <input type="hidden" name="page-id" value="{{ i.id }}">#}
{#                                                            <div class="modal-body">#}
{#                                                                <div class="form-group">#}
{#                                                                    <label>Заголовок страницы</label>#}
{#                                                                    <input type="text" id="name" name="name" class="form-control {% if form_edit.name.errors %} is-invalid {% endif %}" value="{{ i.name }}">#}
{#                                                                    {% if form_edit.name.errors %}#}
{#                                                                        <div class="invalid-feedback" style="display: block;">#}
{#                                                                            {{ form_edit.name.errors[0] }}#}
{#                                                                        </div>#}
{#                                                                    {% endif %}#}
{#                                                                </div>#}
{#                                                                <div class="form-group">#}
{#                                                                    <label>Алиас страницы</label>#}
{#                                                                    <input type="text" id="alias" name="alias" class="form-control {% if form_edit.alias.errors %} is-invalid {% endif %}" value="{{ i.alias }}">#}
{#                                                                    {% if form_edit.alias.errors %}#}
{#                                                                        <div class="invalid-feedback" style="display: block;">#}
{#                                                                            {{ form_edit.alias.errors[0] }}#}
{#                                                                        </div>#}
{#                                                                    {% endif %}#}
{#                                                                </div>#}
{#                                                                <div class="form-group">#}
{#                                                                    {{ form_edit.text.label() }}#}
{#                                                                    <textarea class="ckeditor " id="text" name="text" style="visibility: hidden; display: none;">{{ i.text }}</textarea>#}
{#                                                                    {{ form_edit.text() }}#}
{#                                                                </div>#}
{#                                                            </div>#}
{#                                                            <div class="modal-footer">#}
{#                                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Назад</button>#}
{#                                                                <button type="submit" class="btn btn-outline-success float-right">Изменить</button>#}
{#                                                            </div>#}
{#                                                        </form>#}
{#                                                    </div>#}
{#                                                </div>#}
{#                                            </div>#}
                                            {# Удалить #}
{#                                            <div class="modal fade" tabindex="-1" role="dialog" id="delete-page-{{ i.id }}">#}
{#                                                <div class="modal-dialog" role="document">#}
{#                                                    <div class="modal-content">#}
{#                                                        <div class="modal-header">#}
{#                                                            <h5 class="modal-title">Удаление страницы</h5>#}
{#                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">#}
{#                                                                <span aria-hidden="true">&times;</span>#}
{#                                                            </button>#}
{#                                                        </div>#}
{#                                                        <div class="modal-body">#}
{#                                                            <p>Удалить страницы - "{{ i.name }}"?</p>#}
{#                                                            <p>Данное действие невозможно отменить.</p>#}
{#                                                        </div>#}
{#                                                        <div class="modal-footer">#}
{#                                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Назад</button>#}
{#                                                            <a href="{{ url_for('dashboard.page_delete', page_id=i.id) }}" class="btn btn-danger">Удалить</a>#}
{#                                                        </div>#}
{#                                                    </div>#}
{#                                                </div>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                    </td>#}
{#                                </tr>#}
{#                            {% endfor %}#}
{#                        </tbody>#}
{#                    </table>#}
                </div>
            </div>
        </div>

    </div>
{% endblock %}