{% extends "dashboard/base.html" %}

{% block description %}
    <div class="row mb-2">
        <div class="col-sm-6">
            <h1 class="m-0">Управление изображениями продукции</h1>
        </div>
        <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="{{ url_for('dashboard.index') }}">Панель управления</a></li>
                <li class="breadcrumb-item"><a href="{{ url_for('dashboard.items') }}">Каталог продукции</a></li>
                <li class="breadcrumb-item active">{{ data_item.title }}</li>
            </ol>
         </div>
    </div>
{% endblock %}

{% block content %}
    <div class="row">

        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Список изображений продукта</h3>
                    <div class="card-tools">
                        <a class="btn btn-outline-success btn-sm" href="#" data-toggle="modal" data-target="#create-image">Добавить изображение</a>
                        <div class="modal fade" tabindex="-1" role="dialog" id="create-image">
                            <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Добавление нового изображения</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <form class="" method="post" enctype="multipart/form-data">
                                        {{ form_images.hidden_tag() }}
                                        <input type="hidden" name="form-id" value="1">
                                        <div class="modal-body">
                                            <div class="form-group">
                                                <label>Изображение</label>
                                                {{ form_images.file() }}
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Назад</button>
                                            <button type="submit" class="btn btn-outline-success float-right">Добавить</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Изображение</th>
                                <th>Статус</th>
                                <th>Опции</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in images %}
                                <tr>
                                    <td>{{ loop.index }}</td>
                                    <td>
                                        <a href="{{ url_for('static', filename=i.url) }}" data-toggle="lightbox">{{ i.url }}</a>
                                    </td>
                                    <td style="vertical-align: middle;" class="text-center">
                                        {% if i.status == 0 %}
                                            <i class="fas fa-check-circle text-danger" title="Не отображается"></i>
                                        {% else %}
                                            <i class="fas fa-check-circle text-success" title="Отображается"></i>
                                        {% endif %}
                                    </td>
                                    <td style="vertical-align: middle;" class="text-center">
                                        <div class="btn-group btn-group-sm">
                                            <a href="{{ url_for('dashboard.item_category_image_activated', item_id=data_item.id, image_id=i.id) }}" class="btn btn-default" title="Сделать изображением каталога продукции">
                                                <i class="fas fa-cube text-info"></i>
                                            </a>
                                            <a href="{{ url_for('dashboard.item_general_image_activated', item_id=data_item.id, image_id=i.id) }}" class="btn btn-default" title="Сделать главным изображением продукта">
                                                <i class="far fa-id-badge text-blue"></i>
                                            </a>
                                            {% if i.status == 0 %}
                                                <a href="{{ url_for('dashboard.item_image_activated', item_id=data_item.id, image_id=i.id, status=1) }}" class="btn btn-default" title="Отобразить">
                                                    <i class="far fa-eye text-success"></i>
                                                </a>
                                            {% else %}
                                                <a href="{{ url_for('dashboard.item_image_activated', item_id=data_item.id, image_id=i.id, status=0) }}" class="btn btn-default" title="Скрыть">
                                                    <i class="far fa-eye text-warning"></i>
                                                </a>
                                            {% endif %}
                                            <a href="#" class="btn btn-default" data-toggle="modal" data-target="#delete-image-{{ i.id }}" title="Удалить">
                                                <i class="fas fa-trash-alt text-danger"></i>
                                            </a>
                                        </div>
                                    </td>
                                    <div class="modal fade" tabindex="-1" role="dialog" id="delete-image-{{ i.id }}">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title">Удаление изображения</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <p>Удалить изображение?</p>
                                                    <p>Данное действие невозможно отменить.</p>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Назад</button>
                                                    <a href="{{ url_for('dashboard.item_image_delete', image_id=i.id, item_id=data_item.id) }}" class="btn btn-danger">Удалить</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Список файлов продукта</h3>
                    <div class="card-tools">
                        <a class="btn btn-outline-success btn-sm" href="#" data-toggle="modal" data-target="#create-file">Добавить файл</a>
                        <div class="modal fade" tabindex="-1" role="dialog" id="create-file">
                            <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Добавление нового файла</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <form class="" method="post" enctype="multipart/form-data">
                                        {{ form_files.hidden_tag() }}
                                        <input type="hidden" name="form-id" value="2">
                                        <div class="modal-body">
                                            <div class="form-group">
                                                <label>Название</label>
                                                <input type="text" id="name" name="name" class="form-control {% if form_files.name.errors %} is-invalid {% endif %}">
                                                {% if form_files.name.errors %}
                                                    <div class="invalid-feedback" style="display: block;">
                                                        {{ form_files.name.errors[0] }}
                                                    </div>
                                                {% endif %}
                                            </div>
                                            <div class="form-group">
                                                <label>Файл</label>
                                                {{ form_files.file() }}
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Назад</button>
                                            <button type="submit" class="btn btn-outline-success float-right">Добавить</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Название/Файл</th>
                                <th>Статус</th>
                                <th>Опции</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in files %}
                                <tr>
                                    <td>{{ loop.index }}</td>
                                    <td>
                                        <a href="{{ url_for('static', filename=i.url) }}" target="_blank">{{ i.name }}</a>
                                    </td>
                                    <td style="vertical-align: middle;" class="text-center">
                                        {% if i.status == 0 %}
                                            <i class="fas fa-check-circle text-danger" title="Не отображается"></i>
                                        {% else %}
                                            <i class="fas fa-check-circle text-success" title="Отображается"></i>
                                        {% endif %}
                                    </td>
                                    <td style="vertical-align: middle;" class="text-center">
                                        <div class="btn-group btn-group-sm">
                                            {% if i.status == 0 %}
                                                <a href="{{ url_for('dashboard.item_file_activated', item_id=data_item.id, file_id=i.id, status=1) }}" class="btn btn-default" title="Отобразить">
                                                    <i class="far fa-eye text-success"></i>
                                                </a>
                                            {% else %}
                                                <a href="{{ url_for('dashboard.item_file_activated', item_id=data_item.id, file_id=i.id, status=0) }}" class="btn btn-default" title="Скрыть">
                                                    <i class="far fa-eye text-warning"></i>
                                                </a>
                                            {% endif %}
                                            <a href="#" class="btn btn-default" data-toggle="modal" data-target="#delete-file-{{ i.id }}" title="Удалить">
                                                <i class="fas fa-trash-alt text-danger"></i>
                                            </a>
                                        </div>
                                    </td>
                                    <div class="modal fade" tabindex="-1" role="dialog" id="delete-file-{{ i.id }}">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title">Удаление файла</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <p>Удалить файл - {{ i.name }}?</p>
                                                    <p>Данное действие невозможно отменить.</p>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Назад</button>
                                                    <a href="{{ url_for('dashboard.item_file_delete', file_id=i.id, item_id=data_item.id) }}" class="btn btn-danger">Удалить</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
{% endblock %}


{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='dashboard/css/ekko-lightbox.css') }}">
{% endblock %}

{% block js %}
    <script src="{{ url_for('static', filename='dashboard/js/ekko-lightbox.min.js') }}"></script>
    <script>
      $(function () {
        $(document).on('click', '[data-toggle="lightbox"]', function(event) {
          event.preventDefault();
          $(this).ekkoLightbox({
            alwaysShowClose: true
          });
        });
      })
    </script>
{% endblock %}