{% extends "default/base.html" %}

{% block content %}

    <div class="container">
        <div class="col-lg-12 col-md-12 col-sm-12 mb-5">
            <div class="row">

                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="page-title page-header">
                        <h3>Электронное обращение</h3>
                    </div>
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12 col-xl-12 mb-2">
                    <h6>Электронные обращения, поданные в порядке, установленном <a href="https://pravo.by/document/?guid=3871&p0=h11100300" target="_blank">Законом Республики Беларусь от 18.07.2011 № 300-З «Об обращениях граждан и юридических лиц»</a>.
                        Электронные обращения подаются путем размещения в специальной рубрике «Электронные обращения» на официальном сайте ОАО «Ратон»
                        в глобальной компьютерной сети Интернет.</h6>
                    <h6>Электронные обращения граждан должны содержать:</h6>
                    <ul>
                        <li>Наименование и (или) адрес организации либо должность лица, которым направляется обращение;</li>
                        <li>Фамилию, собственное имя, отчество (если таковое имеется) либо инициалы заявителя, адрес его места жительства (места пребывания);</li>
                        <li>Изложение сути обращения;</li>
                        <li>Адрес электронной почты заявителя.</li>
                    </ul>
                    <h6>Электронные обращения юридических лиц должны содержать:</h6>
                    <ul>
                        <li>Наименование и (или) адрес организации либо должность лица, которым направляется обращение;</li>
                        <li>Полное наименование юридического лица и его место нахождения;</li>
                        <li>Изложение сути обращения;</li>
                        <li>Фамилию, собственное имя, отчество (если таковое имеется) либо инициалы руководителя;</li>
                        <li>Адрес электронной почты заявителя.</li>
                    </ul>
                    <h6>К электронным обращениям, подаваемым представителями заявителей, должны прилагаться электронные копии документов, подтверждающих их полномочия.</h6>
                    <p>В электронных обращениях заявителей наличие личной подписи не требуется.</p>

                    <h6>Оставляются без рассмотрения по существу электронные обращения, которые (по которым):</h6>
                    <ul>
                        <li>Изложены не на белорусском или русском языке;</li>
                        <li>Не содержат фамилии, собственного имени, отчества, адреса места жительства (места пребывания) гражданина;</li>
                        <li>Не содержат полного наименования юридического лица и адреса его места нахождения, фамилии, собственного имени, отчества руководителя или лица, уполномоченного в установленном порядке подписывать обращения (для юридических лиц);</li>
                        <li>Не изложена суть обращения;</li>
                        <li>Содержат текст, не поддающийся прочтению;</li>
                        <li>Содержат нецензурные либо оскорбительные слова или выражения;</li>
                        <li>Подлежат рассмотрению в соответствии с законодательством о конституционном судопроизводстве, гражданским, гражданским процессуальным, хозяйственным процессуальным, уголовно-процессуальном законодательством, законодательством,
                            определяющим порядок административного процесса, законодательством об административных процедурах;</li>
                        <li>В соответствии с законодательными актами установлен иной порядок подачи и рассмотрения таких обращений;</li>
                        <li>Содержат вопросы, не относящиеся к компетенции ОАО «Ратон»;</li>
                        <li>Пропущен без уважительной причины срок подачи жалобы;</li>
                        <li>Подано повторное обращение, если оно уже было рассмотрено по существу и в нем не содержатся новые обстоятельства,
                            имеющие значение для рассмотрения обращения по существу;</li>
                        <li>С заявителем прекращена переписка.</li>
                    </ul>

                    <h6>Электронные обращения должны быть рассмотрены не позднее 15 дней, а обращения, требующие дополнительного изучения и проверки — не позднее одного месяца со дня, следующего за днем регистрации обращения.</h6>
                    <p>Ответы (уведомления) на электронные обращения направляются на адрес электронной почты заявителей, указанный в электронных обращениях,
                        за исключением случаев, когда заявитель в своем электронном обращении просит направить письменный ответ либо одновременно направить
                        письменный ответ и ответ на адрес его электронной почты, а также когда в электронном обращении указан адрес электронной почты,
                        по которому по техническим причинам не удалось доставить ответ (уведомление).</p>
                    <p>В случае, если поступающие электронные обращения аналогичного содержания от разных заявителей носят массовый характер
                        (более десяти обращений), ответы на такие обращения размещаются на официальном сайте ОАО «Ратон»
                        в глобальной компьютерной сети Интернет без направления ответов (уведомлений) заявителям.</p>
                    <p>Заявитель имеет право отозвать свое электронное обращение до рассмотрения его по существу путем подачи письменного
                        заявления либо направления заявления в электронной форме тем же способом, которым было направлено электронное обращение.</p>

                    <p>Ответ на обращение или решение об оставлении обращения без рассмотрения по существу могут быть обжалованы в суде в
                        порядке, установленном законодательством.</p>
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12 mb-2">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#first" role="tab" aria-controls="home" aria-selected="true">Гражданам</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#second" role="tab" aria-controls="profile" aria-selected="false">Юридическим лицам и ИП</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="first" role="tabpanel" aria-labelledby="home-tab">
                            <div class="card border-primary mt-2">
                                <div class="card-header">Электронное обращение для граждан</div>
                                <div class="card-body">
                                    <form method="post" enctype="multipart/form-data">
                                        {{ form1.hidden_tag() }}
                                        <input type="hidden" name="form-id" value="1">
                                        <div class="form-group">
                                            <label>Ваше Ф.И.О.<span class="text-danger">*</span></label>
                                            <input type="text" name="fio" id="fio" class="form-control" required>
                                        </div>
                                        <div class="form-group">
                                            <label>Адрес<span class="text-danger">*</span></label>
                                            <input type="text" name="address" id="address" class="form-control" required>
                                        </div>
                                        <div class="form-group">
                                            <label>Электронная почта<span class="text-danger">*</span></label>
                                            <input type="email" name="email" id="email" class="form-control" required>
                                        </div>
                                        <div class="form-group">
                                            <label>Сообщение<span class="text-danger">*</span></label>
                                            <textarea rows="5" name="message" id="message" class="form-control" required></textarea>
                                        </div>
                                        <div class="form-group">
                                            {{ form1.file.label() }}
                                            {{ form1.file() }}
                                        </div>
                                        <div class="form-group">
                                            <span class="text-danger">*</span> — поля, обязательные к заполнению
                                        </div>
                                        <div class="form-group">
                                            <button type="submit" class="btn btn-primary float-right">Отправить</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="second" role="tabpanel" aria-labelledby="profile-tab">
                            <div class="card border-primary mt-2">
                                <div class="card-header">Электронное обращение для юридических лиц и ИП</div>
                                <div class="card-body">
                                    <form method="post" enctype="multipart/form-data">
                                        {{ form2.hidden_tag() }}
                                        <input type="hidden" name="form-id" value="2">
                                        <div class="form-group">
                                            <label>Наименование<span class="text-danger">*</span></label>
                                            <input type="text" name="name" id="name" class="form-control" required>
                                        </div>
                                        <div class="form-group">
                                            <label>Адрес<span class="text-danger">*</span></label>
                                            <input type="text" name="address" id="address" class="form-control" required>
                                        </div>
                                        <div class="form-group">
                                            <label>Ф.И.О. руководителя<span class="text-danger">*</span></label>
                                            <input type="text" name="fio" id="fio" class="form-control" required>
                                        </div>
                                        <div class="form-group">
                                            <label>Электронная почта<span class="text-danger">*</span></label>
                                            <input type="email" name="email" id="email" class="form-control" required>
                                        </div>
                                        <div class="form-group">
                                            <label>Сообщение<span class="text-danger">*</span></label>
                                            <textarea rows="5" name="message" id="message" class="form-control" required></textarea>
                                        </div>
                                        <div class="form-group">
                                            {{ form2.file.label() }}
                                            {{ form2.file() }}
                                        </div>
                                        <div class="form-group">
                                            <span class="text-danger">*</span> — поля, обязательные к заполнению
                                        </div>
                                        <div class="form-group">
                                            <button type="submit" class="btn btn-primary float-right">Отправить</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>

{% endblock %}