<footer class="footer">
    <div class="container bottom_border">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <h5 class="headin5_amrc col_white_amrc pt2">Информация</h5>
                <p style="color:#e3e0e0; font-size: 16px;" class="text-uppercase">
                    Открытое Акционерное Общество «Ратон»
                </p>
                <p style="color:#e3e0e0; font-size: 16px;">
                    <i class="fas fa-location-arrow text-white"></i> 246044, РБ, г.Гомель, ул.Федюнинского 19
                </p>
                <p style="color:#e3e0e0; font-size: 16px;">
                    <i class="fas fa-phone-square-alt text-white"></i> <a style="color:#e3e0e0; text-decoration: underline;" href="tel:+375232584272">+375(232)58-42-72</a>
                </p>
                <p style="color:#e3e0e0; font-size: 16px;">
                    <i class="fas fa fa-envelope text-white"></i> <a style="color:#e3e0e0; text-decoration: underline;" href="mailto:raton@inbox.ru">raton@inbox.ru</a>
                </p>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <h5 class="headin5_amrc col_white_amrc pt2">Контакты</h5>
                <ul class="footer_ul_amrc">
                    <li>
                        <p style="color:#e3e0e0; font-size: 16px;">Бюро заказов (электротехническая продукция) <br>
                            <i class="fas fa-phone-square-alt text-white"></i> <a style="color:#e3e0e0; text-decoration: underline;" href="tel:+375232682104">+375 (232) 68-21-04</a>
                        </p>
                    </li>
                    <li>
                        <p style="color:#e3e0e0; font-size: 16px;">Бюро сбыта (товары народного потребления) <br>
                            <i class="fas fa-phone-square-alt text-white"></i> <a style="color:#e3e0e0; text-decoration: underline;" href="tel:+375232682611">+375 (232) 68-26-11</a>
                        </p>
                    </li>
                    <li>
                        <p style="color:#e3e0e0; font-size: 16px;">Специальное конструкторское бюро <br>
                             <i class="fas fa-phone-square-alt text-white"></i> <a style="color:#e3e0e0; text-decoration: underline;" href="tel:+375232682045">+375 (232) 68-20-45</a>
                        </p>
                    </li>
                </ul>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <h5 class="headin5_amrc col_white_amrc pt2">Дополнительно</h5>
                <ul class="footer_ul2_amrc">
                    <li class="mb-2">
                        <a style="color:#e3e0e0; text-decoration: underline;" target="_blank" href="https://president.gov.by/ru">Официальный сайт президента Республики Беларусь</a>
                    </li>
                    <li class="mb-2">
                        <a style="color:#e3e0e0; text-decoration: underline;" target="_blank" href="https://minprom.gov.by/">Министерство промышленности Республики Беларусь</a>
                    </li>
                    <li>
                        <a style="color:#e3e0e0; text-decoration: underline;" target="_blank" href="https://metz.by/">МЭТЗ им. В.И. Козлова</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>


    <div class="container" id="banners_footer">
        <ul class="foote_bottom_ul_amrc">
            <li class="pb-1">
                <a href="#">
                    <img src="{{ url_for('static', filename='default/img/banners/banner1.jpg') }}" alt="">
                </a>
            </li>
            <li class="pb-1">
                <a href="#">
                    <img src="{{ url_for('static', filename='default/img/banners/banner2.jpg') }}" alt="">
                </a>
            </li>
            <li class="pb-1">
                <a href="#">
                    <img src="{{ url_for('static', filename='default/img/banners/banner3.jpg') }}" alt="">
                </a>
            </li>
            <li class="pb-1">
                <a href="#">
                    <img src="{{ url_for('static', filename='default/img/banners/banner4.jpg') }}" alt="">
                </a>
            </li>
        </ul>

{#        <p class="text-center text-white">Copyright © {{ current_date_year }} | Developed by <a class="text-white" href="https://github.com/Wern-rm">WeRn.dev</a></p>#}
    </div>
    
    
{#<ul class="social_footer_ul">#}
{#<li><a href="http://webenlance.com"><i class="fab fa-facebook-f"></i></a></li>#}
{#<li><a href="http://webenlance.com"><i class="fab fa-twitter"></i></a></li>#}
{#<li><a href="http://webenlance.com"><i class="fab fa-linkedin"></i></a></li>#}
{#<li><a href="http://webenlance.com"><i class="fab fa-instagram"></i></a></li>#}
{#</ul>#}
    
</footer>