<div class="container" id="navbar-logo-height">
    <div class="row mt-4 mb-3">
        <div class="col-3">
            <a href="{{ url_for('main.index') }}">
                <img src="{{ url_for('static', filename='default/img/logo7.png') }}" width="auto" height="90">
            </a>
        </div>
        <div class="col-9">
            <div class="row float-right" id="navbar-logo-map">
                <div class="col">
                    <a href="tel:+375232584272" class="align-middle mr-4" style="font-size: 20px; font-weight: 400;  color: black;">+375 (232) 58-42-72</a>
                    <a href="#" data-toggle="modal" data-target="#create-phone-question" class="align-middle btn btn-primary mr-3">Заказать звонок</a>
{#                    <a href="#" class="align-middle btn btn-primary text-white btn-sm mr-3">RU</a>#}
{#                    <a href="#" class="align-middle">EN</a>#}
                </div>
            </div>
        </div>
    </div>
</div>