<div class="container mt-1 mb-1" id="navbar-logo-height">
    <div class="row mt-3 mb-2">
        <div class="col-3">
            <img src="{{ url_for('static', filename='default/img/logo.png') }}" width="auto" height="75">
        </div>
        <div class="col-9">
            <div class="row float-right" id="navbar-logo-map">
                <div class="col">
                    <a href="tel:+375232584272" class="align-middle mr-4" style="font-size: 20px; font-weight: 400;  color: black;">+375 (232) 58-42-72</a>
                    <a href="#" class="align-middle btn btn-primary mr-3">Заказать звонок</a>
                    <a href="#" class="align-middle btn btn-primary text-white btn-sm mr-3">RU</a>
                    <a href="#" class="align-middle">EN</a>
                </div>
            </div>
        </div>
    </div>
</div>