<nav class="navbar navbar-expand-md navbar-light mb-4 navbar-color-bg">
    <a class="navbar-brand d-lg-none d-md-none text-white" href="{{ url_for('main.index') }}">ОАО «Ратон»</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mx-auto">
            <li class="nav-item navbar-li-p active">
                <a class="nav-link text-white navbar-size" href="{{ url_for('main.index') }}">Главная</a>
            </li>
            <li class="nav-item navbar-li-p">
                <a class="nav-link text-white navbar-size" href="{{ url_for('main.items') }}">Продукция</a>
            </li>
            <li class="nav-item navbar-li-p dropdown">
                <a class="nav-link dropdown-toggle text-white navbar-size" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Услуги</a>
                <div class="dropdown-menu" aria-labelledby="dropdown01">
                    <a class="dropdown-item" href="{{ url_for('main.page', alias='services-provided') }}">Оказываемые услуги</a>
                    <a class="dropdown-item" href="{{ url_for('main.page', alias='illiquid-assets') }}">Реаклизация неликвидов и оборудования</a>
                </div>
            </li>
            <li class="nav-item navbar-li-p">
                <a class="nav-link text-white navbar-size" href="#">Где купить</a>
            </li>
            <li class="nav-item navbar-li-p dropdown">
                <a class="nav-link dropdown-toggle text-white navbar-size" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">О предприятии</a>
                <div class="dropdown-menu" aria-labelledby="dropdown01">
                    <a class="dropdown-item" href="{{ url_for('main.page', alias='history') }}">История</a>
                    <a class="dropdown-item" href="{{ url_for('main.staff') }}">Руководство</a>
                    <a class="dropdown-item" href="{{ url_for('main.page', alias='production') }}">Производство</a>
                    <a class="dropdown-item" href="{{ url_for('main.clients') }}">Клиенты</a>
                    <a class="dropdown-item" href="{{ url_for('main.reviews') }}">Отзывы</a>
                    <a class="dropdown-item" href="{{ url_for('main.page', alias='anti-corruption') }}">Противодействие коррупции</a>
                </div>
            </li>
            <li class="nav-item navbar-li-p dropdown">
                <a class="nav-link dropdown-toggle text-white navbar-size" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Пресс-центр</a>
                <div class="dropdown-menu" aria-labelledby="dropdown01">
                    <a class="dropdown-item" href="#">Публикации</a>
                    <a class="dropdown-item" href="{{ url_for('main.docs') }}">Документы</a>
                    <a class="dropdown-item" href="{{ url_for('main.photos') }}">Фото материалы</a>
                    <a class="dropdown-item" href="{{ url_for('main.videos') }}">Видео материалы</a>
                    <a class="dropdown-item" href="{{ url_for('main.page', alias='jobs') }}">Вакансии</a>
                </div>
            </li>
            <li class="nav-item navbar-li-p dropdown">
                <a class="nav-link dropdown-toggle text-white navbar-size" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Контакты</a>
                <div class="dropdown-menu" aria-labelledby="dropdown01">
                    <a class="dropdown-item" href="{{ url_for('main.contacts') }}">Контакты</a>
                    <a class="dropdown-item" href="{{ url_for('main.page', alias='personal_reception') }}">Личный прием</a>
                    <a class="dropdown-item" href="{{ url_for('main.electronic_appeal') }}">Электронное обращение</a>
                </div>
            </li>
        </ul>
    </div>
</nav>