{% extends "default/base.html" %}

{% block content %}

    <div class="container">
        <div class="col-lg-12 col-md-12 col-sm-12 mb-5">
            <div class="row">

                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="page-title page-header">
                        <h3>Публикации</h3>
                    </div>
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12 mb-2">
                    <div class="row">

                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                            <div class="list-group">
                                <a href="{{ url_for('main.news', category_id=0) }}" class="list-group-item {% if request.args.get('category_id') == None or request.args.get('category_id')|int == 0 %}active{% endif %}" style="text-decoration: none;">Все публикации</a>
                                {% for i in category %}
                                    <a href="{{ url_for('main.news', category_id=i.id) }}" class="list-group-item {% if request.args.get('category_id')|int == i.id %}active{% endif %}" style="text-decoration: none;">{{ i.name }}</a>
                                {% endfor %}
                            </div>
                        </div>

                        <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
                            <div class="row">
                                {% for i in news %}
                                    <div class=" col-lg-6 col-md-6 col-sm-12 col-xs-12 mb-4">
                                        <a href="{{ url_for('main.new', new_id=i.id) }}" class="card" style="text-decoration: none;">
                                          <img src="{{ url_for('static', filename=i.image) }}" class="card-img-top" alt="{{ i.image }}">
                                          <div class="card-body" style="min-height: 120px !important;">
                                            <p class="card-text text-primary text-center" style="font-size: 16px;">{{ i.title }}</p>
                                          </div>
                                        </a>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>

{% endblock %}